<main class="main-content">
  <div *ngIf="bookmark$ | async as bookmark" class="edit-container">
    <h3>
      {{ labelsPath.title | titlecase}}
    </h3>
    <mat-card>
      <mat-card-header>
        <span>
          {{ labelsPath.description }}
        </span>
      </mat-card-header>
      <mat-card-content class="form-container">
        <mat-form-field>
          <mat-icon matPrefix fontIcon="search"> </mat-icon>
          <input matInput required type="text" maxlength="45" [placeholder]="labelsPath.placeholders.name" [(ngModel)]="editedBookmark.name" (ngModelChange)="validateInputs()" />
          <mat-error *ngIf="!editedBookmark.name"> {{ labelsPath.errors.nameRequired }} </mat-error>
        </mat-form-field>
        <mat-form-field class="url">
          <mat-icon matPrefix fontIcon="search"> </mat-icon>
          <input matInput required type="text" maxlength="45" [placeholder]="labelsPath.placeholders.url" [(ngModel)]="editedBookmark.url" [pattern]="urlPattern" (ngModelChange)="validateInputs()" />
          <mat-error *ngIf="!editedBookmark.url"> {{ labelsPath.errors.urlRequired }} </mat-error>
          <mat-error> {{ labelsPath.errors.urlIncorrect }} </mat-error>
        </mat-form-field>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-footer>
        <button mat-button [disabled]="isUpdateButtonDisabled" (click)="updateBookmark()"> {{ labelsPath.save | titlecase }}</button>
      </mat-card-footer>
    </mat-card>
  </div>
</main>