mat-card {
  margin: 12px;
}

.group-card {
  display: grid;
  grid-template-columns: 1.5fr 10fr 1.5fr;
  min-width: 340px;
}

.grid-item mat-icon {
  color: var(--mat-sys-tertiary);
}

.bookmark-name {
  font-weight: bold;
}
