@use "@angular/material" as mat;

html {
  @include mat.theme(
    (
      color: mat.$azure-palette,
      typography: Roboto,
      density: -1
    )
  );
}

html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.full-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main-content {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  flex-grow: 1;
  overflow-y: auto;
}

@media (max-width: 480px) {
  .large-margin {
    margin-top: 15vh;
  }
  .small-margin {
    margin-top: 100px;
  }
}

@media (max-width: 768px) {
  .main-content {
    margin-bottom: 140px;
  }
}

.ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  display: inline-block;
  width: 85%;
}

.success-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #c8e6c9,
      supporting-text-color: #224a23,
      button-color: #224a23
    )
  );
}

.error-snackbar {
  @include mat.snack-bar-overrides(
    (
      container-color: #ffcdd2,
      supporting-text-color: #73000c,
      button-color: #73000c
    )
  );
}
